:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-color: #2196f3;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --background-color: #ffffff;
  icon-color: #afb1b8;

  --main-font: Roboto, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}
body:hover {
  text-decoration: underline #2196f3;
}
.photo:hover {
  text-decoration: line-through #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Web Studio */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-top: 24px;
  margin-left: 215px;
}
.half-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-top: 24px;
}

.part-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 24px;
  color: #ffffff;
}
.logo-set {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.navigation {
  text-decoration: none;
  background-color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  list-style-type: none;
}
.click-links {
  color: #2196f3;
  margin-top: 32px;
  margin-left: 453px;
  text-decoration: none;
  font-weight: 500;
}
/* contacts elements*/
.contact {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
}
.click-contact {
  text-decoration: none;
  color: #212121;
  margin-left: 656px;
  margin: right 893px;
}
.click-phone {
  text-decoration: none;
  color: #757575;
  margin-right: 227px;
}
ul {
  list-style-type: none;
}
.web-navigation {
  text-decoration: none;
}
.click-portfolio {
  text-decoration: none;
  margin-top: 32px;
  margin: left 453px;
  color: #212121;
  font-weight: 500;
}
.type {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  font-weight: 900;
  font-size: 44px;
}
/*text paragraph*/
.text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*Our mission*/
.title-1 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
/*Photoes location*/
.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.photo {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/*Our team*/
.title-2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
}
.team {
  background-color: #f5f4fa;
}
h1:hover {
  text-decoration: underline #2196f3;
}
header:hover {
  text-decoration: underline #2196f3;
}
.photo {
  border: none;
}
photo:hover {
  border: 3px #2196f3;
}
.order {
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.order:hover {
  text-decoration: underline #2196f3;
}
.links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
footer {
  background-color: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.address {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-size: 14px;
  margin-left: 215px;
  margin-top: 24px;
}
/*portfolio-buttons*/
.main {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
}
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}
